@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, Helvetica, sans-serif;
}


@layer base {
    :root {
        --radius: 0.5rem;

        /* New color scheme */
        --primary: #575F4D;
        --primary-foreground: #FCF6F1;
        --secondary: #A3AA99;
        --secondary-foreground: #575F4D;

        --muted: #F4E3D7;
        --muted-foreground: #575F4D;

        --accent: #E1B797;
        --accent-foreground: #575F4D;

        --background: #FCF6F1;
        --foreground: #575F4D;

        --card: #FCF6F1;
        --card-foreground: #575F4D;

        --popover: #EEF4E6;
        --popover-foreground: #575F4D;

        --border: #E1B797;
        --input: #F4E3D7;
        --ring: #A3AA99;

        --sidebar: #EEF4E6;
        --sidebar-foreground: #575F4D;
        --sidebar-primary: #575F4D;
        --sidebar-primary-foreground: #FCF6F1;
        --sidebar-accent: #A3AA99;
        --sidebar-accent-foreground: #575F4D;
        --sidebar-border: #E1B797;
        --sidebar-ring: #A3AA99;

        /* می‌تونی chart ها رو هم اگر خواستی بر اساس همین رنگ‌ها تغییر بدی */
        --chart-1: #E1B797;
        --chart-2: #A3AA99;
        --chart-3: #575F4D;
        --chart-4: #F4E3D7;
        --chart-5: #EEF4E6;
    }

    .dark {
        --background: #575F4D;
        --foreground: #FCF6F1;

        --card: #A3AA99;
        --card-foreground: #FCF6F1;

        --popover: #A3AA99;
        --popover-foreground: #FCF6F1;

        --primary: #FCF6F1;
        --primary-foreground: #575F4D;

        --secondary: #F4E3D7;
        --secondary-foreground: #575F4D;

        --muted: #F4E3D7;
        --muted-foreground: #FCF6F1;

        --accent: #E1B797;
        --accent-foreground: #FCF6F1;

        --border: #E1B797;
        --input: #F4E3D7;
        --ring: #A3AA99;

        --sidebar: #A3AA99;
        --sidebar-foreground: #FCF6F1;
        --sidebar-primary: #E1B797;
        --sidebar-primary-foreground: #575F4D;
        --sidebar-accent: #F4E3D7;
        --sidebar-accent-foreground: #575F4D;
        --sidebar-border: #E1B797;
        --sidebar-ring: #A3AA99;
    }
}

