@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --background: 49 31% 93%;
        --foreground: 0 0% 14%;
        --card: 86 32% 96%;
        --card-foreground: 0 0% 14%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 14%;

        --primary: 84 12% 33%;
        --primary-foreground: 0 0% 100%;

        --secondary: 84 11% 63%;
        --secondary-foreground: 0 0% 14%;

        --muted: 24 56% 90%;
        --muted-foreground: 84 12% 33%;

        --accent: 84 11% 63%;
        --accent-foreground: 0 0% 14%;

        --destructive: 24 57% 71%;

        --border: 24 57% 71%;
        --input: 24 57% 71%;
        --ring: 84 11% 63%;

        --radius: 0.5rem;

        --chart-1: 24 57% 71%;
        --chart-2: 84 11% 63%;
        --chart-3: 84 12% 33%;
        --chart-4: 24 56% 90%;
        --chart-5: 84 32% 90%;

        --sidebar: 0 0% 100%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
        --sidebar-background: 0 0% 98%;
    }

    .dark {
        --background: 24 15% 15%;
        --foreground: 30 45% 94%;
        --card: 30 8% 20%;
        --card-foreground: 30 45% 94%;
        --popover: 30 11% 15%;
        --popover-foreground: 30 45% 94%;

        --primary: 84 11% 63%;
        --primary-foreground: 24 20% 10%;

        --secondary: 24 56% 90%;
        --secondary-foreground: 24 20% 10%;

        --muted: 24 13% 21%;
        --muted-foreground: 30 20% 84%;

        --accent: 24 57% 71%;
        --accent-foreground: 0 0% 11%;

        --destructive: 17 47% 45%;

        --border: 30 11% 33%;
        --input: 30 11% 33%;
        --ring: 84 11% 63%;

        --chart-1: 24 57% 71%;
        --chart-2: 84 11% 63%;
        --chart-3: 24 56% 90%;
        --chart-4: 24 13% 21%;
        --chart-5: 84 12% 33%;

        --sidebar: 30 11% 15%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
        --sidebar-background: 240 5.9% 10%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
